pillow
lxml
Appium-Python-Client
selenium==3.0.0
namedlist
passlib
pytest
pytest-html
pytest-catchlog
pytest-selenium
pytest-cov
pytest-progress
requests
svgwrite
six
SQLAlchemy
names
paramiko
pyyaml
protobuf
PyVirtualDisplay
opencv-python
xvfbwrapper
psycopg2
python-can
xmltodict
oauth2client
requests_oauthlib
pyserial
pytest-xdist
pytest-timeout
psutil
